* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, white, black)
}

.izquierda {
    background: linear-gradient(to right, #424242, #afaeae);

}

img {
    background: linear-gradient(to right, #424242, #afaeae);
    padding-bottom: 4px;

}

.derecha {
    background: linear-gradient(to right, #ffffff, #9e9d9d);
}

.separacion {
    background: linear-gradient(to right, #ffffff, #000000);
    font-family: "Overpass", serif;
    color: white;

}

.navbar {
    font-family: "Overpass", serif;
}

#nicolas {
    font-size: 2em;
    font-family: "Overpass", serif;

}

#kiefer {
    font-size: 2.5em;
    font-family: "Limelight", serif;
    font-style: italic;

}

#rivero {
    font-size: 2em;
    font-family: "Overpass", serif;
}

.fuentederecha {
    font-family: "Overpass", serif;
}


.fuenteizquierda {
    font-family: "Overpass", serif;
    color: aliceblue;
    font-size: 1.3em;

}

.parrafoderecha {
    text-align: justify;
}

.h3blanco {
    font-size: 1.6em;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 15px;
}

.h3negro {
    font-size: 2em;
    border-bottom: 2px solid #000000;
    padding-bottom: 15px;
}

.listahistorial {
    text-align: justify;

}

.listalogros {
    list-style-type: none;
    padding-left: 0;
}

.letrasderecha {
    color: aliceblue;
}

.primerlugar {
    color: gold;

}

.segundolugar {
    color: silver;

}

.tercerlugar {
    color: #cd7f32;

}

.piedepagina {
    background-color: white;
    font-family: "Overpass", serif;
}