* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.izquierda {
    background-color: rgb(70, 70, 243);
}

.derecha {
    background: rgb(230, 225, 225);
}

.separacion {
    background: rgb(240, 220, 195);
    font-family: "Overpass", serif;

}

.navbar {
    font-family: "Overpass", serif;
}

#nicolas {
    font-size: 2em;
    font-family: "Overpass", serif;
}

#kiefer {
    font-size: 2.5em;
    font-family: "Overpass", serif;
    font-style: italic;

}

#rivero {
    font-size: 2em;
    font-family: "Overpass", serif;
}

.fuentederecha {
    font-family: "Overpass", serif;
}


.fuenteizquierda {
    font-family: "Overpass", serif;
    color: aliceblue;
    font-size: 1.3em;

}

.parrafoderecha {
    text-align: justify;
}

h3 {
    font-size: 1.6em;
    border-bottom: 2px solid #007bff;
    padding-bottom: 15px;
}

.listahistorial {
    text-align: justify;

}

.listalogros {
    list-style-type: none;
    padding-left: 0;
}

.letrasderecha {
    color: aliceblue;
}

.primerlugar {
    color: gold;

}

.segundolugar {
    color: silver;

}

.tercerlugar {
    color: #cd7f32;

}

.piedepagina {
    background-color: white;
    font-family: "Overpass", serif;
}